.light-toggled {
  background-color: rgba(255, 255, 255, 1);
}
.dark-toggled {
  background-color: rgba(52, 58, 64, 1);
}

.light p {
  color: black !important;
}

.light h1 {
  color: black !important;
}

.light form {
  color: black !important;
}

.light .form-content {
  color: black !important;
}

.light-toggled p {
  color: black;
}

.light-toggled h1 {
  color: black;
}

.light-toggled form {
  color: black;
}

.light-toggled .form-content {
  color: black;
}

.dark p {
  color: white;
}

.dark h1 {
  color: white;
}

.dark form {
  color:white;
}

.dark .form-content {
  color: white;
}

.dark-toggled p {
  color: white;
}

.dark-toggled h1 {
  color: white;
}

.dark-toggled form {
  color:white;
}

.dark-toggled .form-content {
  color: white;
}

.light .accordion {
  background-color: rgb(225, 225, 225) !important;
  color: black !important;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.light .active, .accordion:hover {
  background-color: rgb(200, 200, 200) !important;
}

.light .accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.light .active:after {
  content: "\2212";
}

.light .panel {
  padding: 0 18px;
  background-color: rgb(230, 230, 230) !important;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.light-toggled .accordion {
  background-color: rgb(225, 225, 225);
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.light-toggled .active, .accordion:hover {
  background-color: rgb(200, 200, 200);
}

.light-toggled .accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.light-toggled .active:after {
  content: "\2212";
}

.light-toggled .panel {
  padding: 0 18px;
  background-color: rgb(230, 230, 230);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.dark .accordion {
  background-color: rgb(110, 115, 120);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.dark .active, .accordion:hover {
  background-color: rgb(150, 150, 150);
}

.dark .accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.dark .active:after {
  content: "\2212";
}

.dark .panel {
  padding: 0 18px;
  background-color: rgb(125, 125, 125);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.dark-toggled .accordion {
  background-color: rgb(110, 115, 120);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.dark-toggled .active, .accordion:hover {
  background-color: rgb(150, 150, 150);
}

.dark-toggled .accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.dark-toggled .active:after {
  content: "\2212";
}

.dark-toggled .panel {
  padding: 0 18px;
  background-color: rgb(125, 125, 125);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
